/* navを右寄せ */
#header.nav{
	margin:0 0 0 auto;
}

/* navを横並び */
.main_menu li{
	display: inline-block;
}

/* navの装飾をリセット */
.main_menu{
	list-style-type: none;
}

.main_menu li a{
	text-decoration: none;
}

/* main要素を中央寄せ */
#section{
	margin: 0 auto;
}

/* Worksの詳細 */
details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}
